server:
  port: 8080

spring:
  application:
    name: docker-test

  datasource:
    url: jdbc:h2:mem:docker-testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: "*"